<ion-view title="Alarm" id="page2">
    <ion-content padding="true" class="has-header">
        <div style="padding: 30px; padding-top: 10px; padding-bottom: 10px;">
          <alarmclock></alarmclock>
        </div>
        <div style="text-align: center; font-size: 30px; padding-top: 10px;">
          23:00 - 7:00
        </div>
        <div style="text-align: center; color: #27ae60; font-size: 20px; padding-top: 10px;">
          8 hours of sleep
        </div>
    </ion-content>
</ion-view>
