<ion-view title="Schedule" id="page2">
    <ion-content padding="true" class="has-header">
        <div style="padding: 30px; padding-top: 20px; padding-bottom: 20px;">
          <alarmclock></alarmclock>
        </div>
        <div style="text-align: center; font-size: 40px; padding-top: 10px;">
          23:00 - 7:00
        </div>
        <div style="text-align: center; color: #27ae60; font-size: 20px; padding-top: 20px; padding-bottom: 10px;">
          8 hours of sleep
        </div>
        <div style="margin-left: 100px; margin-right: 100px; margin-top: 20px;">
          <button id="devices-button2" class="button button-positive  button-block icon-left ion-android-alarm-clock">Schedule</button>
        </div>
    </ion-content>
</ion-view>
