<ion-view title="Devices" id="page6">
    <ion-content padding="true" class="has-header">
        <h4 id="devices-heading1" style="color:#000000;">Connected devices</h4>
        <ion-list>
            <ion-item ui-sref="tabsController.smartLights">Lightbulb (Bedroom)</ion-item>
            <ion-item ui-sref="tabsController.smartThermostat">Learning Thermostat</ion-item>
            <ion-item ui-sref="tabsController.tV">TV (Bedroom)</ion-item>
        </ion-list>
        <button id="devices-button1" class="button button-positive  button-block icon-left ion-network">Detect devices</button>
        <div id="devices-markdown6" style="color:#000000;">
            <p>
                <strong>Sleepy Things</strong>detects devices on your wireless network. Make sure you are connected to the same wireless network.</p>
        </div>
    </ion-content>
</ion-view>