ion-header-bar {
  background-color: orange;
  color: black;
}
ion-header-bar > button {
  padding-right: 10px;
}
.disabledSettings {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.blueLights {

}

#night, #wake {
  position: absolute;
}

.bar {
  background-color: #2c3952!important;
  color: white;
}
.bar .title {
  color: white!important;
}
.tabs-stable > .tabs {
  background-color: #2c3952!important;
  color: white;
}
.tabs-stable .icon, .tabs-stable .tab-title {
color: white!important;
}
.tabs-top.tabs-striped .tab-item {
margin-top: 0px;
border-bottom: 2px #2c3952 solid;
}
.tabs-top.tabs-striped .tab-item.tab-item-active,
.tabs-top.tabs-striped .tab-item.activated {
margin-top: 0px;
border-bottom: 2px #2b85c1 solid;
}
.tabs {
border-bottom: 0;
}
.bar-stable .button.button-icon {
color: #bdc3c7;
}
.button.button-positive, .button.button-positive:hover, .button.button-positive:focus {
  background-color: #26a65d!important;
}
